<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ball Traveller</title>
	<link rel="stylesheet" type="text/css" href="../static/css/logos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var logos = ""
			for(i = 1; i <= 30; i++) {

				logos += "<img id=" + i + " src=../static/img/nbalogo/" + i + ".jpg>";

			}
			$('#nbalogos').html(logos);



			$(document).on('click', '#nbalogos img', function(){
				var id = this.id
				$.get("/retrieve_listings/"+this.id, function(res) {
					var event_info = ''
					// LOOP TO GET A TEAM LISTING
					$("#team_logo").html("<img id=" + id + " src=../static/img/nbalogo/" + id + ".jpg>");
					$("#team_info").html("<h1>"+ res['EventListings'][0]['EventTypeName'] + "</h1>");

					for (var i=0; i < res['EventListings'].length; i++){
						event_info += "<button class='schedule_btn' id='btn"+i+"'><p>"+res['EventListings'][i]['EventName']+"";
						event_info += "<br>"+res['EventListings'][i]['Event_Date']+"";
						event_info += "<br>"+res['EventListings'][i]['VenueName']+"";
						event_info += "<br>"+res['EventListings'][i]['City']+"";
						event_info += "<br>"+res['EventListings'][i]['State']+"</p><button>";
						};

					$("#team_schedule").html(event_info);

				}, "json");
			});

		});
	</script>
</head>
<body>
	<div class='container'>
		<div class='Jumbotron'>
			<h1 style='display:inline-block'>SELECT YOUR TEAM:</h1>
		</div>
		<div id='nbalogos'></div>
		<div id='team_display'>
			<div id='team_logo'></div>
			<div id='team_info'></div>	
			<div id='team_schedule'></div>
		</div>
	</div>
</body>
</html>