<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ball Traveller</title>
	<link rel="stylesheet" type="text/css" href="../static/css/logos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var logos = ""
			for(i = 1; i <= 30; i++) {

				logos += "<img id=" + i + " src=../static/img/nbalogo/" + i + ".jpg>";

			}
			$('#nbalogos').html(logos);


			// var abbr = ""
			// for(i = 1; i <= 30; i++) {

			// 	$.get("/retrieve_teams", function(res){
			// 			abbr = res[i]['abbreviation'];
			// 			console.log(abbr)

			// 			logos += "<img id=" + abbr + " src=../static/img/nbalogo/" + i + ".jpg>";

			// 	}, "JSON");

				
			// }
			// $('#nbalogos').html(logos);














			// $.get("/retrieve_teams", function(res){
			// 		var abbr, full_name, conference, city, state
					
			// 		// LOOP TO GET TEAM INFO
			// 		for (var i=0; i < res.length; i++){
			// 			abbr = "<h2>"+res[i]['abbreviation']+"</h2>";
			// 			full_name = "<h3>"+res[i]['full_name']+"</h3>";
			// 			conference = "<p>"+res[i]['conference']+"</p>";;
			// 			site_name = "<p>"+res[i]['site_name']+"</p>";
			// 			city = "<p>"+res[i]['city']+"</p>";
			// 			state = "<p>"+res[i]['state']+"</p>";

			// 			$("#info").append(
			// 				abbr+"<br>"+full_name+"<br>"+conference+"<br>"+site_name+"<br>"+city+"<br>"+state);
			// 		};
			// 	}, "JSON");



			$(document).on('click', '#nbalogos img', function(){
				var id = this.id
				$.get("/retrieve_listings/"+this.id, function(res) {
					var event_info = ''
					// LOOP TO GET A TEAM LISTING
					$("#team_logo").html("<img id=" + id + " src=../static/img/nbalogo/" + id + ".jpg>");
					$("#team_info").html("<h1>"+ res['EventListings'][0]['EventTypeName'] + "</h1>");

					for (var i=0; i < res['EventListings'].length; i++){
						event_info += "<button class='schedule_btn' id='btn"+i+"'><p>"+res['EventListings'][i]['EventName']+"";
						event_info += "<br>"+res['EventListings'][i]['Event_Date']+"";
						event_info += "<br>"+res['EventListings'][i]['VenueName']+"";
						event_info += "<br>"+res['EventListings'][i]['City']+"";
						event_info += "<br>"+res['EventListings'][i]['State']+"</p><button>";
						};

					$("#team_schedule").html(event_info);

				}, "json");
			});





			// $("img").click(function(){
			// 		$.get("/retrieve_listings", function(res){
			// 		var event_name, event_date, venue, city, state
			// 		// LOOP TO GET A TEAM LISTING
			// 		for (var i=0; i < res['EventListings'].length; i++){
			// 			event_name = "<p>"+res['EventListings'][i]['EventName']+"</p>";
			// 			event_date = "<p>"+res['EventListings'][i]['Event_Date']+"</p>";
			// 			venue = "<p>"+res['EventListings'][i]['VenueName']+"</p>";
			// 			city = "<p>"+res['EventListings'][i]['City']+"</p>";
			// 			state = "<p>"+res['EventListings'][i]['State']+"</p>";

			// 			$("#user_team").append(
			// 				"<div class='team_schedule'>"+event_name+"<br>"+event_date+"<br>"+venue+"<br>"+city+"<br>"+state+"</div>");
			// 			};
			// 		}, "JSON");
			// 	});
		});
	</script>
</head>
<body>
	<div class='container'>
		<div class='Jumbotron'>
			<h1>SELECT YOUR TEAM:</h1>
		</div>
		<div id='nbalogos'></div>
		<div id='team_display'>
			<div id='team_logo'></div>
			<div id='team_info'></div>	
			<div id='team_schedule'></div>
		</div>
	</div>
</body>
</html>